@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth scrollbar-track-transparent scrollbar-thumb-slate-200;
  }

  body {
    @apply min-h-screen font-poppins select-text antialiased
  }
}

@layer utilities {

  .scale-down {
    zoom: 0.85
  }

  .scale-initial {
    zoom: unset
  }

  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[40px] font-[700] leading-[140%];
  }

  .h1-semibold {
    @apply text-[40px] font-[600] leading-[140%];
  }

  .primary-title {
    @apply text-[36px] font-[600] text-primary-200 leading-[140%];
  }

  .h1-regular {
    @apply text-[28px] font-[400] leading-[140%];
  }

  .h2-bold {
    @apply text-[30px] font-[600] leading-[140%];
  }

  .h3-bold {
    @apply text-[24px] font-[600] leading-[140%];
  }

  .h3-semibold {
    @apply text-[24px] font-[500] leading-[140%];
  }

  .h3-light {
    @apply text-[24px] font-[300] leading-[140%];
  }

  .title-semibold {
    @apply text-[20px] font-[600] leading-[140%];
  }

  .title-regular {
    @apply text-[20px] font-[400] leading-[140%];
  }

  .title-medium {
    @apply text-[20px] font-[500] leading-[140%];
  }

  .title-light {
    @apply text-[20px] font-[300] leading-[140%];
  }

  .base-semibold {
    @apply text-[16px] font-[600] leading-[140%];
  }

  .base-medium {
    @apply text-[16px] font-[500] leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-[400] leading-[140%];
  }

  .base-light {
    @apply text-[16px] font-[300] leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-[600] leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-[500] leading-[140%];
  }

  .body-normal {
    @apply text-[18px] font-[400] leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-[600] leading-[140%];
  }

  .small-medium {
    @apply text-[14px] font-[500] leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-[400] leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-[600] leading-[140%];
  }

  .subtle-medium {
    @apply text-[12px] font-[500] leading-[140%];
  }

  .subtle-regular {
    @apply text-[12px] font-[400] leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-[500] leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .tab-default {
    @apply flex-center small-medium h-full w-[33%] cursor-pointer rounded-xl hover:bg-primary-50 hover:text-primary-200
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .brainstorm-card {
    @apply rounded-[8px] border border-shadow-border bg-white
  }

  .form-input-group {
    @apply flex flex-col items-start gap-y-2
  }

  .tooltip {
    @apply flex-center p-2 gap-x-2 rounded-md small-semibold bg-white shadow-tooltip cursor-pointer hover:-translate-y-1 transition-transform
  }

  .tool {
    @apply cursor-pointer rounded-[4px] bg-transparent p-1 hover:bg-border-50 flex gap-x-2 small-semibold items-center disabled:pointer-events-none disabled:opacity-20
  }

  .bulletin-tab {
    @apply flex-center small-regular border-b cursor-pointer mt-2 py-2
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: gray;
  }

  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14;
  }

  .chat-mode {
    @apply flex hover:opacity-50 cursor-pointer flex-col items-center justify-center rounded-[10px] md:h-[20rem] gap-y-4 md:w-[25rem] px-12
  }

  .resume_list_options {
    @apply flex cursor-pointer hover:opacity-40 items-center gap-x-2 small-regular
  }
}


:root {
  --top-nav-bar-height: 4rem;
  --resume-padding: 1.5rem;
  --resume-control-bar-height: 3.5rem;
  --chatpanel-padding: 11.5rem;
  --chathistory-width: 10rem;
}


.bulletpoints::before {
  content: "2022";
  margin-right: 10px;
  color: #333;
  font-weight: bold;
  display: block;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#fading-dots {
  display: inline-block;
}

.fading-dot {
  animation: fade 1.5s infinite;
  display: inline-block;
}