
.container {
  position: relative;
  height: 55px; /* 调整为适合的高度 */
  width: 320px;
}

.containerV3 {
  position: relative;
  height: 55px; /* 调整为适合的高度 */
  width: 320px;
  padding-right: 10px;
  text-align: right;
}

.containerV2 {
  position: relative;
  height: 55px; /* 调整为适合的高度 */
  width: 420px;
  margin-left: 10;
  padding-left: 10px;
  text-align: left;
}

.text {
  position: absolute;
  top: 30;
  left: 0;
  opacity: 0;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.cursor {
  display: inline-block;
  width: 0.3rem; /* 光标宽度 */
  height: 2.5rem; /* 光标高度 */
  font-size: 24px;
  background-color: black; /* 光标颜色 */
  animation: blink 1s infinite; /* 设置闪烁动画 */
}