@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border scrollbar-thin appearance-none scroll-smooth p-0 scrollbar-track-transparent scrollbar-thumb-slate-200;
  }

  body {
    @apply min-h-screen select-text font-inter antialiased;
    text-rendering: optimizeLegibility;
    font-synthesis-weight: none;
  }
}

@layer utilities {

  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-[700] leading-[140%];
  }

  .h2-semibold {
    @apply text-[30px] font-[500] leading-[140%];
  }

  .h2-bold {
    @apply text-[30px] font-[600] leading-[140%];
  }

  .h3-bold {
    @apply text-[24px] font-[600] leading-[140%];
  }

  .h3-semibold {
    @apply text-[24px] font-[500] leading-[140%];
  }

  .h3-regular {
    @apply text-[24px] font-[400] leading-[140%];
  }

  .title-semibold {
    @apply text-[20px] font-[600] leading-[140%];
  }

  .title-regular {
    @apply text-[20px] font-[400] leading-[140%];
  }

  .title-medium {
    @apply text-[20px] font-[500] leading-[140%];
  }

  .title-light {
    @apply text-[20px] font-[300] leading-[140%];
  }

  .base-semibold {
    @apply text-[16px] font-[600] leading-[140%];
  }

  .base-medium {
    @apply text-[16px] font-[500] leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-[400] leading-[140%];
  }

  .base-light {
    @apply text-[16px] font-[300] leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-[600] leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-[500] leading-[140%];
  }

  .body-normal {
    @apply text-[18px] font-[400] leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-[600] leading-[140%];
  }

  .small-medium {
    @apply text-[14px] font-[500] leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-[400] leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-[600] leading-[140%];
  }

  .subtle-medium {
    @apply text-[12px] font-[500] leading-[140%];
  }

  .subtle-regular {
    @apply text-[12px] font-[500] leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-[500] leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply brightness-0 invert transition;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .form-input-group {
    @apply flex flex-col items-start gap-y-2;
  }



}


.custom-popover-content {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
  filter: drop-shadow(0px 11px 25px rgba(87, 84, 94, 0.07)) drop-shadow(0px 7px 17px rgba(87, 84, 94, 0.12));
  backdrop-filter: blur(12px);
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#fading-dots {
  display: inline-block;
}

.fading-dot {
  animation: fade 1.5s infinite;
  display: inline-block;
}


.ProseMirror {

  p.empty-node:nth-child(2):before,
  .empty-node:first-child::before {
    color: #E7E7E8;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

}


@keyframes twinkle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-twinkle {
  animation: twinkle 1.5s infinite ease-in-out;
}