@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border appearance-none scroll-smooth p-0 scrollbar-track-transparent scrollbar-thumb-slate-200;
  }

  body {
    @apply min-h-screen select-text font-poppins antialiased;
    text-rendering: optimizeLegibility;
    font-synthesis-weight: none;
  }
}

@layer utilities {
  .scale-down {
    zoom: 0.85;
  }

  .scale-initial {
    zoom: unset;
  }

  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-[700] leading-[140%];
  }

  .h2-semibold {
    @apply text-[30px] font-[500] leading-[140%];
  }

  .h2-bold {
    @apply text-[30px] font-[600] leading-[140%];
  }

  .h3-bold {
    @apply text-[24px] font-[600] leading-[140%];
  }

  .h3-semibold {
    @apply text-[24px] font-[500] leading-[140%];
  }

  .h3-regular {
    @apply text-[24px] font-[400] leading-[140%];
  }

  .title-semibold {
    @apply text-[20px] font-[600] leading-[140%];
  }

  .title-regular {
    @apply text-[20px] font-[400] leading-[140%];
  }

  .title-medium {
    @apply text-[20px] font-[500] leading-[140%];
  }

  .title-light {
    @apply text-[20px] font-[300] leading-[140%];
  }

  .base-semibold {
    @apply text-[16px] font-[600] leading-[140%];
  }

  .base-medium {
    @apply text-[16px] font-[500] leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-[400] leading-[140%];
  }

  .base-light {
    @apply text-[16px] font-[300] leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-[600] leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-[500] leading-[140%];
  }

  .body-normal {
    @apply text-[18px] font-[400] leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-[600] leading-[140%];
  }

  .small-medium {
    @apply text-[14px] font-[500] leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-[400] leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-[600] leading-[140%];
  }

  .subtle-medium {
    @apply text-[12px] font-[500] leading-[140%];
  }

  .subtle-regular {
    @apply text-[12px] font-[500] leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-[500] leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply brightness-0 invert transition;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .form-input-group {
    @apply flex flex-col items-start gap-y-2;
  }

  .tool {
    @apply small-semibold flex cursor-pointer items-center gap-x-1 rounded-[4px] bg-transparent p-1 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-20;
  }

  .common-container {
    @apply flex flex-1 flex-col items-center gap-10 overflow-scroll px-5 py-10 md:px-8 lg:p-14;
  }
}

:root {
  --top-nav-bar-height: 3.5rem;
}

.bulletpoints::before {
  content: '2022';
  margin-right: 10px;
  color: #333;
  font-weight: bold;
  display: block;
}

.custom-popover-content {
  background-color: rgba(255, 255, 255, 0.40);
  border: 1px solid #FFF;
  filter: drop-shadow(0px 11px 25px rgba(87, 84, 94, 0.07)) drop-shadow(0px 7px 17px rgba(87, 84, 94, 0.12));
  backdrop-filter: blur(12px);
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#fading-dots {
  display: inline-block;
}

.fading-dot {
  animation: fade 1.5s infinite;
  display: inline-block;
}

.primary-gradient {
  background: linear-gradient(57deg, #D5E8F8 1.5%, #ABA3DF 80.7%);
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.shadow-error {
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.2);
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-twinkle {
  animation: twinkle 1.5s infinite ease-in-out;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}